body {
	background-image: url("fondo de pantalla.jpg");
	no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#instrucciones {
	display: none;
	text-align: center;
	float: none;
	margin-left: 50px;
	margin-right: 50px;
}

#juego {
	display: none;
	height: 600px;
	width: 600px;
	margin-top: 25px;
	position: relative;
	float: left;
	background-color: grey;
	border: 1px solid #c9c9c9;
}

.pieza {
	height: 200px;
	width: 200px;
	position: absolute;
	background-size: 200px 200px;
}

h1 {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #72ff00;	
}
h2 {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #72ff00;	
}
h6 {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #72ff00; 
	display: none;
	text-align: center;
}

button {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	background-color: black; 
    border-radius: 12px;
    border: 2px solid #72ff00;
    color: #72ff00;
    padding: 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

button:hover {
	background-color: #3b4236;
    color: white;
	
}

